<!-- Name: Nolan Berryhill
File: tasks.component.html
Description: HTML file for the tasks component
Date: 1/24/2024-->

<!-- Opening divs with classes and second header -->
<div class="container-fluid pt-2" style="min-height: 600px;">

  <!-- Heading of my tasks -->
  <h1 class="text-center">My Tasks</h1>

  <!-- Messages for error and success -->
  <div class="row justify-content-center pt-4">
    <div class="col-sm-10 col-md-8 col-lg-6">

      <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      </div>

      <div *ngIf="successMessage">
        <div class="alert alert-success" role="alert">
          {{ successMessage}}
        </div>
      </div>
    </div>
  </div>

  <!-- To enter information to the input area -->
  <div class="row justify-content-center pt-4">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <form [formGroup]="newTaskForm" (ngSubmit)="addTask();">
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="text" placeholder="Add new task">
          <button class="btn btn-outline-secondary" type="submit" [disabled]="!newTaskForm.valid" id="btnAdd">Add</button>
        </div>

        <!-- Warning to add a task -->
        <div *ngIf="newTaskForm.controls['text'].touched && newTaskForm.controls['text'].hasError('required')">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Please enter a task!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <!-- Warning to have 3 characters for the entry-->
        <div *ngIf="newTaskForm.controls['text'].touched && newTaskForm.controls['text'].hasError('minlength')">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>The task field must be at least 3 characters long!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>

        <!-- Warning to have les 50 characters for the entry -->
        <div *ngIf="newTaskForm.controls['text'].touched && newTaskForm.controls['text'].hasError('maxlength')">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>The task field must be at most 50 characters long!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row gy-2 justify-content-center">

    <!-- todo column -->
    <div class="col-sm-5 col-md-5 col-lg-3">
      <h4 class="text-center">ToDo</h4>
      <div class="p-3 border bg-light">

        <div class="container task-column"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop($event)">

          <!-- Beginning status of todo list -->
          <div *ngIf="todo.length === 0">
            <div class="alert alert-info">
              No tasks to do yet!
            </div>
          </div>

          <div *ngFor="let item of todo" cdkDrag class="mt-2">

            <div class="row border bg-white">
              <!-- column 1 of task item-->
              <div class="col-sm-6">
                <div class="card-body" style="color: rgb(21, 7, 82);">
                  {{ item.text }}
                </div>
              </div>
              <!-- end column 1-->

              <!-- column 2 of task item -->
              <div class="col-sm-6">
                <div class="card-body float-end">
                  <button (click)="deleteTask(item._id)" class="btn">
                    <span class="material-icons">delete</span>
                  </button>
                </div>
              </div>
              <!-- end column 2-->

              <div class="col-12 d-sm-none d-md-none d-lg-none d-xl-none d-grid gap-2 p-2">
                <button (click)="deleteTask(item._id)" class="btn btn-secondary">Delete</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- end todo column -->

    <!-- done column -->
    <div class="col-sm-5 col-md-5 col-lg-3">
      <h4 class="text-center">Done</h4>
      <div class="p-3 border bg-light">

        <div class="container task-column"
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          (cdkDropListDropped)="drop($event)">

          <!-- Beginning status of done list -->
          <div *ngIf="todo.length === 0">
            <div class="alert alert-info">
              No done task yet!
            </div>
          </div>

          <div *ngFor="let item of done" cdkDrag class="mt-2">
            <div class="row border bg-white">

              <!-- column 1 of done item-->
              <div class="col-sm-6">
                <div class="card-body" style="color: rgb(21, 7, 82);">
                  {{ item.text }}
                </div>
              </div>
              <!-- end column 1-->

              <!-- column 2 of done item -->
              <div class="col-sm-6">
                <div class="card-body float-end">
                  <button (click)="deleteTask(item._id)" class="btn">
                    <span class="material-icons">delete</span>
                  </button>
                </div>
              </div>
              <!-- end column 2-->

              <div class="col-12 d-sm-none d-md-none d-xl-none d-grid gap-2 p-2">
                <button (click)="deleteTask(item._id)" class="btn btn-secondary">Delete</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- end done column -->

  </div>
</div>


