<!-- Name: Nolan Berryhill
File: contact-us.component.html
Description: HTML file for the contact component
Date: 1/24/2024-->

<!-- Navigation for contact -->
<div fxLayout="row wrap" style="padding: 10%">
  <div fxFlex>
    <mat-card style="box-shadow: none; text-align: center;">
      <mat-card-title>
        <mat-icon color="accent">navigation</mat-icon>
      </mat-card-title>

      <br />

      <!-- Address for contact -->
      <mat-card-content>
        <p style="color: aquamarine;">
          7896 Raven St.
        </p>
        <p style="color: aquamarine;">
          Omaha, NE
        </p>
        <p style="color: aquamarine;">
          On the three floor
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Phone number for contact -->
  <div fxFlex>
    <mat-card style="box-shadow: none; text-align: center;">
      <mat-card-title>
        <mat-icon color="warn">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content>
        <p style="color: aqua">
          Direct: 515-595-2255
        </p>
        <p style="color: aqua">
          Toll-free 1-800-855-5578
        </p>
        <p style="color: aqua">
          Fax: 555-565-4446
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br />

<!-- General information -->
<div fxLayout="column">
  <p style="text-align: center">
    Let us manage your needs!
    <img style="width: 25%;" src="https://github.com/nberryh/nodebucket/blob/main/Photo/googleMap.png?raw=true">
  </p>
</div>

