<!-- Name: Nolan Berryhill
File: contact-us.component.html
Description: HTML file for the contact component
Date: 1/24/2024-->

<!-- Navigation for contact -->
<div fxLayout="row wrap" style="padding: 10%">
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon></mat-card-title>

        <br />

      <!-- Address for contact -->
      <mat-card-content class="align-center">
        <p>
          7896 Raven St.
        </p>
        <p>
          Omaha, NE
        </p>
        <p>
          On the three floor
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Phone number for contact -->
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          Direct: 515-595-2255
        </p>
        <p>
          Toll-free 1-800-855-5578
        </p>
        <p>
          Fax: 555-565-4446
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br />
<div>
  <img src="..\Photo\googleMap.png">
</div>
<br /><br />

<!-- General information -->
<div fxLayout="column">
  <p style="text-align: center">
    Let us manage your needs!
  </p>
</div>

