<!--
  Title: about-us.component.html
  Author: Nolan Berryhill
  Date: 01/29/2024
  Description: About us page for nodebucket
-->

<!-- Opening of divs for the about page -->
<div fxLayout="row wrap" style="padding: 10%">
  <div fxFlex>
    <div fxLayout=column>
      <div>
        <!-- First About Us photo -->
        <img src="https://github.com/nberryh/nodebucket/blob/main/Photo/About.png?raw=true" style="max-width: 300px;" alt="homeIcon">
      </div>
      <div>
        <!-- Second About Us photo -->
        <img src="https://github.com/nberryh/nodebucket/blob/main/Photo/Bucket.png?raw=true" style="max-width: 300px;" alt="Bucket">
      </div>
    </div>
    </div>
    <div fxFlex>
      <!-- Header -->
      <h1>About Us</h1>
      <!-- About paragraph for customers to read about company -->
      <p>
        About us paragraph.
      </p>
    </div>
</div>
