<!--
  Title: about-us.component.html
  Author: Nolan Berryhill
  Date: 02/03/2024
  Description: About us page for nodebucket
-->

<!-- Opening of divs for the about page -->
<div fxLayout="row wrap" style="padding: 10%">
  <div fxFlex>
    <div fxLayout=column>
      <div>
        <!-- First About Us photo -->
        <img src="https://github.com/nberryh/nodebucket/blob/main/Photo/About.png?raw=true" style="max-width: 300px;" alt="homeIcon">
      </div>
    </div>
    </div>
    <div fxLayout=column>
      <!-- Header -->
      <h1 style="text-align: center;">About Us</h1>
      <!-- About paragraph for customers to read about company -->
      <p style="text-align: center;">
        Step into the enchanting realm of NodeBucket, a bastion where innovation dances hand in hand with project management, meticulously crafted by the ingenious minds of Hogwarts Ravenclaw graduates. Rooted in a sincere desire to support startups and entrepreneurs, NodeBucket emerges as your local ally in project management, specializing in seamlessly coordinating new ventures and ongoing projects. Our expertise spans a diverse spectrum, ranging from the inception of cutting-edge websites to the development of desktop and mobile applications and the orchestration of impactful advertising and marketing campaigns.
      </p>
      <p style="text-align: center;">
        Founded in 2024 by the most incredible Ravenclaw graduates from the esteemed Hogwarts School of Witchcraft and Wizardry, NodeBucket adds a touch of magic to the landscape of project management and declaration to its employees. We intimately comprehend the intricacies of startup dynamics and the unique challenges entrepreneurs face. Thus, we have embarked on a mission to deliver tailored solutions, empowering your ideas not just to thrive but to flourish.
      </p>
      <p style="text-align: center;">
        At NodeBucket, we acknowledge the paramount importance of efficient task management. Thrilled to fortify our commitment, we are delighted to unveil a new website. Meticulously designed and curated by our dedicated team, this cutting-edge tool is poised to revolutionize how our employees and customers navigate and manage tasks, ensuring a seamless and organized project management experience.
      </p>
      <p style="text-align: center;">
        Embark on this thrilling journey with us, where expertise harmonizes with enchantment. Let NodeBucket be your unwavering partner, transforming visions into tangible reality. Join us in the celebration of innovation as we, together, weave magic into the fabric of project management.
      </p>
    </div>
    <div fxLayout=column>
      <div>
        <!-- Second About Us photo -->
        <img src="https://github.com/nberryh/nodebucket/blob/main/Photo/Bucket.png?raw=true" style="max-width: 300px;" alt="Bucket">
      </div>
    </div>
</div>
