<!--
  Title: fourzerofour.component.html
  Author: Nolan Berryhill
  Date: 02/05/2024
  Description: 404 page for nodebucket
-->

<!-- Opening of divs for the 404 page -->
<div fxLayout="row wrap" style="padding: 25%,">
  <div fxFlex>
    <div id="grid-container">
      <div class="grid-item">
        <!-- 404 photo -->
        <img src="https://github.com/nberryh/nodebucket/blob/main/Photo/404%20error.png?raw=true" style="max-width: 5000px;" alt="Error">
      </div>
      <div class="grid-item">
        <!-- Header -->
        <h1 style="text-align: center;">404</h1>
        <!-- 404 warning for user to know they made a error -->
        <p style="text-align: center;">
          This page shall not pass!!!!!!!! Please look upon your http for the error!!!
        </p>
      </div>
    </div>
</div>

