/**
  Title: styles.css
  Author: Nolan Berryhill
  Date: 1/24/2024
  Description: Styles for nodebucket
*/

/**
  Imports items from theme
*/
@import './custom-theme.scss';

/**
  height for html and body
*/
html, body { height: 100%; }

/**
  Margin and font-family for body
*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

