<!-- Name: Nolan Berryhill
File: home.component.html
Description: HTML file for the home component
Date: 1/21/2024-->

<!-- Body for the home details -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!-- Header for home page -->
      <h1 style="padding-top: 10%; text-align: center;">Start your business with success!!!!</h1>

      <!-- Homepage Image -->
      <img scr="https://github.com/nberryh/nodebucket/blob/main/Photo/homeImage.png?raw=true">
    </div>
  </div>

  <!-- route to go to test security -->
  <a routerLink="/security">Test Security Module</a>
</div>


